@font-face {
    font-family: 'WeThePeople';
    src: url('fonts/WeThePeople.otf');
    /* Ajoutez d'autres variantes de la police ici si nécessaire */
}

/* Styles généraux */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffbacf; /* Couleur de fond pour le thème clair */
    font-size: 2em;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff; /* Couleur de fond pour les conteneurs */
    border-radius: 10px; /* Pour arrondir les coins des conteneurs */
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5); /* Ombre légère pour les conteneurs */
    text-align: justify;
}

/* En-tête */

header {
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 40px;
    font-family: 'WeThePeople', Arial, sans-serif;
    font-size: 10em;

}

/* Sections */

section {
    padding: 40px 0;
}

section h2 {
    margin-top: 0;
}

/* Pied de page */

footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


/* Liens */

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style pour la photo de profil */
.profile-img {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    
    margin: 0 20px 10px 0; 
    border: 2px solid #000; 
    padding: 10px; 

    float:left;
}