/* Styles généraux */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffbacf; /* Couleur de fond pour le thème clair */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff; /* Couleur de fond pour les conteneurs */
    border-radius: 10px; /* Pour arrondir les coins des conteneurs */
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5); /* Ombre légère pour les conteneurs */
    text-align: justify;
}

/* En-tête */

header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Sections */

section {
    padding: 40px 0;
}

section h2 {
    margin-top: 0;
}

/* Pied de page */

footer {
    background-color: #5fd8f0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Liens */

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style pour la photo de profil */
.profile-img {
    width: 250px; /* Définir une largeur pour l'image */
    height: 250px; /* Définir une hauteur pour l'image */
    border-radius: 50%; /* Pour créer un cercle autour de l'image */
    float: left; /* Pour aligner l'image à gauche avec le texte */
    margin: 0 20px 10px 0; /* Pour ajouter un espacement entre l'image et le texte */
    border: 2px solid #000; /* Ajoute une bordure bleue autour de l'image */
    padding: 5px; /* Ajoute un espace entre la bordure et l'image */
}
