@font-face {
    font-family: 'Kaoly';
    src: url('/fonts/Kaoly.ttf');
}
/* Styles généraux */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffbaed; /* Couleur de fond pour le thème clair */
    font-size: 2em;
}

.dark-mode {
    background-color: #1a1a1a; 
    color: #ffffff; 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5); 
    text-align: justify;
}

.container iframe{
    border-radius: 10px;
}

.dark-mode .container {
    background-color: #333333; 
}

#gif-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
}

#gif-preview img {
    border-radius: 20px;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

/* En-tête */

header {
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 40px;
    font-family: 'Kaoly', Arial, sans-serif;
    font-size: 5em;
    text-shadow: 10px 10px 2px #69696969;

    color: #fff;
    -webkit-text-stroke: 5px #000; /* Ajoute un contour noir de 2 pixels */
}

.dark-mode h1{
    text-shadow: 10px 10px 2px #ffffff, 5px 5px 5px #000000;
}

/* Sections */

section {
    padding: 40px 0;
}

/* Pied de page */

footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}