@import url("/styles.css");

.container {
    background-color: white;
    margin: 3% auto;
    border-radius: 10px;
}

.container iframe{
    border-radius: 10px;
}

/* nav barre */


.nav-items {
    

    animation: fromUp 0.7s ease forwards;

    transition: transform 0.3s ease;

}

.nav-items:hover {
    transform: translate(5px,-5px);
}

#retour:hover{
    transform: translateX(-10px);
}

#darklight:hover {
    transform: none;
}
