@import url("../styles.css");

.container {
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;

    /*max-height: 200px;*/
    overflow: hidden;
}

.see-more {
    content: "En voir plus"; 
    display: flex;
    align-items: flex-end;     /* Aligne le texte en bas */
    justify-content: center;   /* Centre horizontalement */
    font-size: 1rem;
    font-weight: bold;
    color: #333;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6.25rem; /* 100px */

    background: linear-gradient(to top, 
        white 0%, 
        rgba(255, 255, 255, 0.98) 50%, 
        transparent 100%
    );

    padding-bottom: 2rem; /* Un petit espace en bas */
    cursor: pointer;
}


.container iframe{
    border-radius: 10px;
}

/* nav barre */


.nav-items {
    

    animation: fromUp 0.7s ease forwards;

    transition: transform 0.3s ease;

}

.nav-items:hover {
    transform: translate(5px,-5px);
}

#retour:hover{
    transform: translateX(-10px);
}

#darklight:hover {
    transform: none;
}

h2 {
    text-align: center;
    border-bottom: solid 1px black;
}

.container * + h2 {
    margin-top: 75px;
}

.container * + h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}


/* Tags */
#tags {
    margin: 20px 0;
    text-align: center;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tag {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: default;
}

.dark-mode .tag {
    background-color: #333;
    color: white;
}

.tag:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Positionnement des images en float */
.img-deco {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 0;
}

.float-left {
    float: left;
    margin: 0 20px 10px 0;
}

.float-right {
    float: right;
    margin: 0 0 10px 20px;
}

/* Nettoyage des floats pour éviter que le texte suivant ne déborde mal */
.container::after {
    content: "";
    display: table;
    clear: both;
}

/* --- MÉCANIQUE D'ANIMATION --- */

/* État initial : l'élément est caché et décalé */
.chronologie {
    transform: translateX(-20px); /* Glisse de la gauche vers la droite */
    transition: all 0.8s ease-out;
}

/* On change la direction du glissement pour les images à droite */
.float-right.chronologie {
    transform: translateX(20px); /* Glisse de la droite vers la gauche */
}

/* État final quand le JS ajoute la classe .rotate */
.chronologie.rotate {
    opacity: 1;
    transform: translateX(0);
}